/* 背景色とフォント設定 */
body {
    background-color: #dfdddd;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
}

/* h2フォント設定 */
h2 {
    font-family: serif, arial, 'Noto Sans JP';
    font-style: italic;
}

/* ==== TOPへ戻る ==== */
.back-link {
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.back-link:hover {
    opacity: 0.7;
}

/* ==== TOP ==== */

/* 画像の調整 */
img {
    width: 600px;
    margin-top: 10px;
}

/* 全体の横幅制限 */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* h2タグの余白調整 */
h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* 全体白カードのスタイル */
.background-card {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}

/* Logistcs x ITロゴ装飾 */
.logo {
    margin-top: 60px;
    font-size: 14px;
    font-style: italic;
}

/* nameフォント */
.name {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5px;
}

/* subtitleフォント */
.subtitle {
    font-size: 15px;
    font-style: italic;
    margin-top: 0;
    font-weight: 300;
    letter-spacing: 0.5px;
}

/* ==== SKILLS ==== */

/* skills全体 */
.skills-tag {
    margin-top: 20px;
}

/* skillsタグ */
.skills-tag span {
    background-color: #555;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin: 2px;
}

/* ==== EXPERIENCE ==== */

/* EXPERIENCEカード配置 */
.experience-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* EXPERIENCEカードのデザイン */
.experience-card {
    display: flex;
    background-color: #fff;
    width: 100%;
    min-height: 200px;
}

/* EXPERIENCEカードタイトル */
.experience-card-header {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px;
    gap: 20px;
    flex-shrink: 0;
}

.experience-header-text {
    margin: 0;
    font-style: oblique;
    font-size: 22px;
    color: #555;
    line-height: 1.4;
}

/* EXPERIENCEカード本文 */
.experience-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    text-align: left;
    width: 60%;
    padding: 5px 20px;
    border-left: 1px solid #555;
    line-height: 1.8;
}

/* ECPERIENCE本文中のh3デザイン */
.experience-title {
    margin-bottom: 0;
}

/* EXPERIENCEカード画像の横幅 */
.experience-card-image {
    width: 30%;
    aspect-ratio: 4 / 3;
    flex-shrink: 0;
}

.experience-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* スマホ時のEXPERIENCEカード */
@media (max-width: 768px) {
    .experience-card {
        flex-direction: column;
        height: auto;
        width: 85%;
        margin: 0 auto;
        padding: 20px 15px;
        border-bottom: 1px solid #ccc;
    }

    .experience-card-image {
        width: 45px;
        transform: translateY(-3px);
    }

    .experience-card-header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 2px;
    }

    .experience-header-text {
        font-size: 18px;
        margin: 0;
        white-space: nowrap;
    }

    .experience-card-content {
        width: 100%;
        border-left: none;
        padding-left: 58px;
        box-sizing: border-box;
    }

    .experience-title {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .experience-card-content ul {
        margin: 0;
        padding-left: 20px;
        line-height: 1.8;
    }
}

/* ==== PROJECT ===== */

/* PROJECTカード配置 */
.project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* PROJECTカードのデザイン */
.project-card {
    background-color: #fff;
    width: 75%;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    /* 影の基準点にする */
    overflow: hidden;
    /* 飛び出た影を隠す */
}

/* PROJECTカード　ホバー時に左から右へ影移動 */
.project-card:hover::before {
    pointer-events: none;
    transform: skew(-20deg) translateX(150%);
    transition: transform 0.7s ease-out;
    border-bottom: 2px solid #333;
}

/* 影を左側に隠す */
.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg) translateX(-150%);
    transition: transform 0s;
}

/* PROJECTカードタイトル */
.project-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-bottom: 1px solid #555;
}

.project-card-title {
    margin: 0;
    font-style: oblique;
    text-align: left;
    font-size: 22px;
    width: auto;
    color: black;
}

/* PROJECTカード本文 */
.project-card-content {
    font-size: 16px;
    text-align: left;
    line-height: 1.7;
}

/* PROJECTカード画像の横幅 */
.project-card-image {
    width: 10%;
}

.project-card-image img {
    width: 100%;
}

.project-link {
    display: block;
    text-decoration: none;
    position: relative;
}

.project-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #333;

    /* アニメーションの初期状態 */
    transform: scaleX(0);
    transform-origin: left top;
    transition: transform 0.3s ease;
}

/* ホバー時左から右へ伸ばす */
.project-link:hover::before {
    transform: scaleX(1);
}

/* PROJECTリンクタグ */
.link-tag {
    margin-top: 20px;
}

.link-tag span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}

.link-tag span:hover {
    transform: scale(1.08);
    opacity: 0.7;
}

/* ==== MENU ==== */

/* menuカードデザイン */
.menu-card {
    display: flex;
    flex-wrap: wrap;
    /* 画面幅に応じて折り返す */
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    /* 折り返し時の上下隙間 */
}

.menu-card a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    white-space: nowrap;
    /* リンク文字と「｜」が途中で切れるのを防ぐ */
}

/* menuを縦線で区切る */
.menu-card a+a::before {
    content: "|";
    color: #000;
    margin: 0 20px;
    display: inline-block;
}

/* nav menu　ホバー時上に動く&色変更 */
.menu-card a span {
    display: inline-block;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.menu-card a:hover span {
    transform: scale(1.08);
    opacity: 0.7;
}

/* ==== PROJECTリンク先ページ ==== */

.project-section {
    display: flex;
    gap: 10px;
}

/* 横に均等に並べる */
.project-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.project-block ul {
    text-align: left;
    padding-left: 16px;
    margin: 0;
}


/* portfolioカードデザイン */

.portfolio-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.portfolio-card {
    width: 75%;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
}

/* 制作サイト画面タイトルデザイン */

.portfolio-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #555;
}

.portfolio-card-header img {
    width: 8%;
    height: 8%;
    margin-top: 10px;
}

.portfolio-card-header h3 {
    font-style: oblique;
    text-align: left;
    font-size: 22px;
    width: auto;
    color: #000;
}

/* 制作画面各デバイスデザイン */

/* portfolio-box横並び */
.portfolio-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    width: 100%;
}

/* 1デバイス分 */
.portfolio-device {
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.portfolio-device-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;

}

.portfolio-device-name p {
    margin: 0;
}

.portfolio-device-name img {
    width: 40px;
    margin-top: 0;
}


.portfolio-mockup img {
    cursor: pointer;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.2s ease;
    /* ホバー時に大きくして色を薄くする */
}


.portfolio-mockup.pc img {
    max-width: 250px;
}

.portfolio-mockup.mobile img {
    max-width: 100px;
}


.portfolio-mockup img:hover {
    transform: scale(1.08);
    opacity: 0.7;
}

/* popup-contentデザイン */
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* ポップアップ画像 */
.popup-image {
    max-width: 95vw;
    max-height: 80vh;
    object-fit: contain;
}

/* クリックで閉じる */
.popup-text {
    color: white;
    font-size: 14px;
    margin: 0;
    opacity: 0.8;
}


/* ポップアップ背景 */
.popup-overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.popup-overlay.active {
    opacity: 1;
    visibility: visible;
}



/* ===== TOPへ戻るボタン ==== */

html {
    scroll-behavior: smooth;
}

.page-top-btn {
    position: fixed;
    right: 100px;
    bottom: 50px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.page-top-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* スマホ時にハンバーガーメニュー */
.menu-trigger {
    display: none;
}

@media (max-width: 768px) {
    .menu-trigger {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 100;
    }

    /* 三本線のデザイン */
    .menu-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: all 0.3s;
    }

    .menu-trigger span:nth-child(1) {
        top: 0;
    }

    .menu-trigger span:nth-child(2) {
        top: 11px;
    }

    .menu-trigger span:nth-child(3) {
        top: 22px;
    }

    /* ボタンがアクティブの時の三本線アニメーション */
    .menu-trigger.active span:nth-child(1) {
        top: 11px;
        transform: rotate(-45deg);
    }

    .menu-trigger.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-trigger.active span:nth-child(3) {
        top: 11px;
        transform: rotate(45deg);
    }

    /* デザイン基本設定　**スマホ時はメニューカード隠す */
    .menu-card {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        /* 右側に隠す */
        width: 100%;
        /* 画面全体を覆う */
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.95);
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: all 0.3s;
        z-index: 99;
    }

    /* メニューが開いたとき */
    .menu-card.active {
        right: 0;
    }
}



/* 画面幅が768px以下の設定 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* 縦並びに切り替える */
    }

    .project-card-image {
        width: 45px;
    }
}

@media (max-width: 768px) {

    /* 画像がスマホ画面からはみ出さないようにリセット */
    img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    /* 白カードの左右余白をスマホ向けに狭くする */
    .background-card {
        padding: 20px;
    }

    /* スマホメニュー内の縦線を消す */
    nav.menu-card.active a::before {
        content: none;
    }

    /* TOPへ戻るボタンを右端に移動 */
    .page-top-btn {
        right: 15px;
        bottom: 15px;
    }
}